version: '3.8'
services:
  vue-app:
    build:
      context: ./${BRANCH_NAME}/vue-project
      args:
        - VITE_BASE_URL=/vue/${BRANCH_NAME}/
    container_name: vue-${BRANCH_NAME}
    networks:
      - gateway-net
    ports:
      - "${VUE_PORT}:80"

  laravel-app:
    build:
      context: ./${BRANCH_NAME}/laravel-project
    container_name: laravel-${BRANCH_NAME}
    environment:
      - DB_DATABASE=laravel_${BRANCH_NAME}_db
    networks:
      - gateway-net

  nextjs-app:
    build:
      context: ./${BRANCH_NAME}/nextjs-project
      args:
        - NEXT_PUBLIC_BASE_PATH=/nextjs/${BRANCH_NAME}
    container_name: nextjs-${BRANCH_NAME}
    networks:
      - gateway-net
    ports:
      - "${NEXT_PORT}:3000"

networks:
  gateway-net:
    external: true
