version: '3.8'

services:
  # VUE PROJECT
  vue-app:
    build:
      # Use absolute path from root to avoid "context" errors during Jenkins cd
      context: /var/www/html/${BRANCH_NAME}/vue-project
      args:
        - VITE_BASE_URL=/vue/${BRANCH_NAME}/
    container_name: vue-${BRANCH_NAME}
    restart: always
    networks:
      - gateway-net
    ports:
      - "${VUE_PORT}:80"

  # LARAVEL PROJECT
  laravel-app:
    build:
      context: /var/www/html/${BRANCH_NAME}/laravel-project
    container_name: laravel-${BRANCH_NAME}
    restart: always
    environment:
      - DB_DATABASE=laravel_${BRANCH_NAME}_db
    networks:
      - gateway-net

  # NEXTJS PROJECT
  nextjs-app:
    build:
      context: /var/www/html/${BRANCH_NAME}/nextjs-project
      args:
        - NEXT_PUBLIC_BASE_PATH=/nextjs/${BRANCH_NAME}
    container_name: nextjs-${BRANCH_NAME}
    restart: always
    networks:
      - gateway-net
    ports:
      - "${NEXT_PORT}:3000"

networks:
  gateway-net:
    external: true
