version: '3.8'
services:
  vue-app:
    build:
      context: ./${BRANCH}/vue-project
      args:
        - VITE_BASE_URL=/vue/${BRANCH}/
    container_name: vue-${BRANCH}
    networks:
      - gateway-net
    ports:
      - "${VUE_PORT}:80"

  laravel-app:
    build:
      context: ./${BRANCH}/laravel-project
    container_name: laravel-${BRANCH}
    environment:
      - DB_DATABASE=laravel_${BRANCH}_db
    networks:
      - gateway-net

  nextjs-app:
    build:
      context: ./${BRANCH}/nextjs-project
      args:
        - NEXT_PUBLIC_BASE_PATH=/nextjs/${BRANCH}
    container_name: nextjs-${BRANCH}
    networks:
      - gateway-net
    ports:
      - "${NEXT_PORT}:3000"

networks:
  gateway-net:
    external: true
