name: Deployment Pipeline

on:
  push:
    branches: [ "development", "stage", "test" ]

env:
  PROJECT_TYPE: 'vue'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deployment
        id: sonar
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: PROJECT_TYPE
          script: |
            set -e
            BRANCH=${{ github.ref_name }}
            
            # 1. INITIALIZATION
            cd /var/www/html/$BRANCH/$PROJECT_TYPE-project
            git pull origin $BRANCH

            # 2. SONARQUBE ANALYSIS
            export SONAR_NODE_ARGS='--max-old-space-size=512'
            /home/ubuntu/sonar-scanner/bin/sonar-scanner \
              -Dsonar.projectKey=${PROJECT_TYPE}-project \
              -Dsonar.sources=. \
              -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
              -Dsonar.login=${{ secrets.SONAR_TOKEN }}

            # 3. QUALITY GATE CHECK
            for i in {1..24}; do
              STATUS=$(curl -s -u ${{ secrets.SONAR_TOKEN }}: "${{ secrets.SONAR_HOST_URL }}/api/qualitygates/project_status?projectKey=${PROJECT_TYPE}-project" | jq -r '.projectStatus.status')
              if [ "$STATUS" = "OK" ] || [ "$STATUS" = "ERROR" ]; then break; fi
            done

            if [ "$STATUS" != "OK" ]; then 
              exit 1 
            fi

            # 4. PROJECT SPECIFIC BUILD
            case "$PROJECT_TYPE" in
                vue) 
                  VITE_BASE_URL="/$PROJECT_TYPE/$BRANCH/" 
                  npm run build 
                  ;;
                nextjs) 
                  npm run build 
                  pm2 restart $PROJECT_TYPE-$BRANCH 
                  ;;
                laravel) 
                  sudo php artisan optimize
                  ;;
            esac

      - name: Notify
        if: always()
        run: |
          STATUS="${{ job.status == 'success' && 'SUCCESS' || 'FAILED' }}"
          if [[ "${{ job.status }}" == "success" ]]; then
            MSG="Deployment successful! "
          else
            [[ "${{ steps.sonar.outcome }}" == "failure" ]] && ERR="Quality Gate" || ERR="Build/Deploy"
            MSG="Failed at: $ERR step "
          fi
          curl -X POST -H 'Content-type: application/json' \
          --data "{\"text\":\"*[$STATUS]* \n*Project:* ${{ env.PROJECT_TYPE }} \n*Branch:* ${{ github.ref_name }} \n*Status:* $MSG\"}" \
          "${{ secrets.SLACK_WEBHOOK }}"
